


.tabelaEqpm {
    margin-top: 5%;
    margin-left: 5%;
    border: none;
    font-size: 100%;
    min-width: 90%;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  

  .tabelaEqpm th {
    border-radius: 25px 25px 25px 0px;
  }
  
  .tabelaEqpm thead tr {
    /* background-color: #DCEEE8; */
    color: black;
    text-align: center;
    font-weight: bold;
  }
  
  .tabelaEqpm td {
    padding: 1% 2.5%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .tabelaEqpm th {
    padding: 1% 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linhaImpar {
    /* display: flex; */
    width: 375%;
    background-color: #dceee8;
  }

  .linhaPar {
    /* display: flex; */
    width: 375%;
  }
