
  .tabelaEqpm td {
    padding: 1% 2.5%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .tabelaEqpm th {
    padding: 1% 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linhaTabela {
    /* display: flex; */
    width: 370%;
    background-color: #dceee8;
  }
  .linhaTabela2 {
    /* display: flex; */
    width: 370%;
    background-color: white;
  }

  .id {
    margin-left: -5%;
    font-weight: bold;
    }
  .modelo {
    margin-left: 3%;
  }
  .fabricante {
    margin-left: 3%;
  }
  .data {
    margin-left: 1%;
  }
  .consumo {
    margin-left: -2%;
  }
  .valor {
    margin-right: -2%;
  }
  .id2 {
    margin-left: -5%;
    font-weight: bold;
    }
  .modelo2 {
    margin-left: 3%;
  }
  .fabricante2 {
    margin-left: 3%;
  }
  .data2 {
    margin-left: 1%;
  }
  .consumo2 {
    margin-left: -2%;
  }
  .valor2 {
    margin-right: -2%;
  }